@model MicrocreditosLola.Models.Prestamo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diadecobro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diadecobro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesesdeprestamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesesdeprestamo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intereses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intereses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdclienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdclienteNavigation.Idcliente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idprestamo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
