@model MicrocreditosLola.Models.Prestamo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diadecobro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diadecobro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesesdeprestamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesesdeprestamo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intereses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intereses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdclienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdclienteNavigation.Idcliente)
        </dd>
    </dl>
</div>

<h1>Tabla de Amortizacion</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>$</th>
            <th>Cantidad</th>
            <th>Monto Debe</th>
            <th>Monto Pagado</th>
            <th>Monto final</th>
        </tr>
    </thead>

    @{
        double cantidad = Convert.ToDouble( Model.Cantidad);
        double interes = Convert.ToDouble(Model.Intereses);
        int meses = Convert.ToInt32(Model.Mesesdeprestamo);

        // formulas

        double montofinal = cantidad + (cantidad * interes / 100);

    }
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idprestamo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
